{% extends 'base.html' %}

{% block authorize_content %}

<div id="add_form">
<h2>You can add new Venues</h2>
<form action="/api/add/venue_list" method="POST">
    <label for="category_name">Choose Category</label>
    <select id="venue_category"  name="category_name">
        <option value="waterfront_list_table" >Waterfront</option>
        <option value="winery_list_table" >Winery</option>
        <option value="city_venue_list_table" >City</option>
        <option value="heritage_list_table" >Heritage</option>
        <option value="unique_list_table" >Unique</option>
    </select>
    <!-- <input type="submit" name="category_choose"> -->

<p>Add new venue</p> 

<ul class="add_form">
    <li>
        <label for="venue_name">Venue name:</label>
        <input type="text" name="venue_name">
      
    <li>
        <label for="venue_img">Image URL:</label>
        <input type="text" name="venue_img">
    <li>
        <label for="location">Location:</label>
        <input type="text" name="location">
    <li>
        <label for="overview">overview:</label>
        <input type="text" name="overview">
    <li>
        <label for="avg_price">Average price :$</label>
        <input type="number" name="avg_price">
    <li>
        <label for="avg_guest">Average guest:</label>
        <input type="number" name="avg_guest">
    </li>
    <input type="submit">
    
    </ul>

    
</form>

<a href="/home">back to home</a>
</div>
{% endblock %}