{% extends 'base.html' %}

{% block authorize_content %}
<style>
.block_container{
    background-color: rgb(122, 143, 143);
    width: auto;
    height: auto;
    text-align: center;
}
li{
    list-style-type: none;
}
li a{
    color: midnightblue;
}
li a:hover{
    background-color: dimgray;
}
</style>


<div class="block_container">
<h2>Hi {{name}} (success to login)</h2><br>
<form action="/authorizer_login_check" method="POST">
    <ul>
    <li><a href="/forms/add/venue_list" >Add venue list form</a></li><br>
    <li><a href="/check/venue/category" >Edit venue list form</a></li><br>
    <li><a href="/delete/venue" >Delete list of venue page</a></li><br>
    <li><a href="/authorizer_logout" >logout</a></li><br>
    </ul>
</form>
</div>

{% endblock %}