{% extends 'base.html' %}

{% block authorize_content %}
<style>
    #check_category_form{
        background-color: rgb(160, 162, 202);
        height: auto;
        
        border: 5px solid;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    label{
    
        display: inline-block;
        width: 150px;
        text-align: right;
          
    }
li{
    list-style-type: none;
}
</style>
<div id="check_category_form">
<h2>Choose table category</h2>
<form action="/delete/check" method="POST">
    <label for="vene_name">choose venue name</label>
    <select id="venue_name_list" name="venue_name">
        {% for show in venue_name%}
        <option value="{{show}}">{{show}}</option>
        {% endfor %}
    </select>

    <input name='delete_item' type="submit">


</form>
<a href="/">back to home</a>
<a href="/authorizer_login">back</a>
</div>
{% endblock %}