{% extends 'base.html' %}

{% block img_content %}
<link rel="stylesheet" href="../static/css/main.css">

{% endblock %}

{% block venue_home_content %}
<header>
    <h1>MENU</h1><br>
<ul>
    {% if not session["user_id"] %}

    <li><a href="/login">Log in</a> </li>
    {% endif %}
    {% if  session["user_id"] %}
    <li class="user_my_page"><a href="/my_page">My page</a></li>
    <li><a href="/user_logout">Log out</a></li> 
    {% endif %}
  </ul>
  </header>



<div class="big_div">
{% for c in venue_cate %}
<div class="category" name="{{c[1]}}">
    
  <a href="/venue_list?category={{c[1]}}" name="category_name"  > <p class="category_name">{{c[1]}}</p></a>
    
    <img src='{{c[2]}}' class="img">
  
</div>
{% endfor %}
</div>

<footer class="footer">
    <p class="sign_up_link">Register to get special discount <button><a href="/sign_up">sign up!</a></button> </p>
 
    <ul class="social-icon">
      <li class="icon__item"><a class="icon__link" href="#">
         <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="icon__item"><a class="icon__link" href="#">
        <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="icon__item"><a class="icon__link" href="#">
        <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="icon__item"><a class="icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Service</a></li>
      <li class="menu__item"><a class="menu__link" href="/authorizer_login">Admin page</a></li>

    </ul>
    <p>&copy;2023 Project2</p>
  </footer>
{% endblock %}