{% extends 'base.html' %}
{% block img_content %}
 <link rel="stylesheet" href="../static/css/user_page.css"> 

{% endblock %}


{% block user_content %}
<header>
    <p>My page </p>
</header>

<div class="user_detail">
  
        <div class="pic_container">
          <img src="https://t4.ftcdn.net/jpg/04/61/85/79/360_F_461857992_RirAq6HcxCI0FjL789wu3B5EsxzTXeKI.jpg">
        </div>
        
            <p>User Name:{{user[0][2]}}</p>
            <p>Your budget: ${{user[0][5]}}</p>
            <p>Guests number: {{user[0][4]}} ppl</p>
    
    
        <div class="list_container">
          <ul class="list_link">
            <li><a href="#"><span onclick="document.getElementById('show_liked').style.display='block'" class="saved_list" title="saved_list">Saved list</span></a></li>
            <li><a href="#"><span onclick="document.getElementById('show').style.display='block'" class="match_budget_list" title="match_budget_list">Match with Budget</span></a></li>
            <li><a href="#"><span onclick="document.getElementById('show').style.display='block'" class="match_guest" title="match_guest">Match with Guest number</span></a></li>
        </ul>
          
        </div>
    


          <span class="forgot_pwd"> <a href="/">back home</a></span>
        
     
    </div>


    <div class="liked_container">


    {% for  u in liked_venues %}
      
      <div class="liked_block">
        <div class="venue_name" name="{{u[0][2]}}">{{u[0][2]}}</div>
        <div class="card_image">
            <img src='{{u[0][3]}}' class="img">
        </div>
        
        <form  action="/delete_liked" method="POST"  >
          
        {% for liked in user_like_list%}
        {% if  liked[3] == u[0][2] and liked[2]== u[0][1]%}
            <button  name="delete_liked_btn" value="{{liked[0]}}">DELETE</button>
        {% endif %}
        {% endfor%}  
        </form> 
      </div> 
    {% endfor%} 
    </div>  
    {% endblock %}

