{% extends 'base.html' %}

{% block img_content %}
<link rel="stylesheet" href="../static/css/list_page.css">

{% endblock %}

{% block venue_list_content %}
<header>
    <h1>{{category_name}} Venue list</h1><br>
    <div class="a_link">
    <p class="back_to_home"><a href="/home">Home</a></p>
    <p class="go_to_login_page"><a href="/login">Log in</a></p>
    <p class="user_my_page"><a href="/my_page">My page</a></p>
    </div>
</header>



<div class="main_div">
{% for e in list %}
<div class="category" name="{{e[1]}}">
    <div class="card_image">
        <img src='{{e[2]}}' class="img">
        <button class="carousel_control_prev" type="button" data_base_target="#card_gallery" data_bs_slide="prev">
            <span class="carousel_control_pre_icon" aria-hidden="true"></span>
            <span class="visually_hidden">Back◄</span>
        </button>
        <button class="carousel_control_next" type="button" data_base_target="#card_gallery" data_bs_slide="next">
            <span class="carousel_control_next_icon" aria-hidden="true"></span>
            <span class="visually_hidden">►Next</span>
        </button>
    </div>
    <div class="card_bpdy">
        <span class="card_name">
        <h2 class="venue_name"><a href="/{{e[1]}}"> {{e[1]}}</a> </h2>
        </span>
        <span class="card_address">📍{{e[3]}} </span>
        <span class="card_like_button">
            <!-- <button class="like" formaction="/like_clicked" aria-label="Save"> -->
                <!-- <label><a class="login_like" href="/like_clicked">♡</a></label></button> -->
                
                
<!-- pop login div box -->
<!-- pop login div box -->
<!-- pop login div box -->
                  <form action="/my_page" method="Post"  >
                <button  name="like_btn" class="like" aria-label="Save" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" value="storns">♡</button>
            </form>
                {% if not session["user_id"] %}
                <div id="id01" class="modal">

                <div class="like_clicked">
                    <form class="modal-content" action="/login" method="post">
                        <div class="imgcontainer">
                          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"> &times;</span>
                          <img src="https://img.freepik.com/premium-vector/vector-isolated-bride-groom-drawing-one-continuous-line-sketch_566661-3743.jpg" alt="Avatar" class="avatar">
                        </div>
                      
                    
                    
                        <div class="input_container">
                          <label for="user_email"><b>User Email</b></label>
                          <input type="email" placeholder="Enter User email" name="user_email" required>
                          <!-- required=pecifies that an input field must be filled out before submitting the form -->
                    
                          <label for="user_password"><b>Password</b></label>
                          <input type="password" placeholder="Enter Password" name="user_password" required>
                            
                          <button class='like_login_btn' type="submit">Login</button>
                          <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                          </label>
                        </div>
                    
                        <div class="container" style="background-color:#f1f1f1">.    
                          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                          <span class="forgot_pwd">Forgot <a href="#">password?</a></span>
                        </div>
                      </form>
                    </div>
                    </div>
            {% endif %}
        </span>
        
        <p class="card_text">
            {{e[4]}}
        </p>
    </div>
    <div class="card_footer">
        <p>${{e[5]}} avg price</p>
        <p>{{e[6]}} avg ppl</p>
        <div class="card_enquiry"><a href="/login">Request Enquiry</a> </div>
    </div>
</div>
{% endfor %}







<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}